# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# DragunWF
.env
dragunwf-secret

# Drizzle ORM
# (Ignore meta/snapshot files if you solely use 'drizzle-kit push' for live DB updates)
drizzle/meta/
drizzle/000*
# (Include drizzle/ folder if you prefer to generate and commit explicit SQL migrations)

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
